*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:Futura-MedObl;
    src: url(fonts/Futura-MedObl.ttf);

    font-family: Futura-Bol;
    src: url(fonts/Futura-Bol.ttf);
    
    
}

header{
    height: 100vh;
}

header .box {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


header .box img{

   width: 800px;
   height: 200px;
   position: absolute;
   top: 200px;
   left: 300px;

  
}

header h2{
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 450px;
    left: 450px;
    color: #3D5CDB;
    font-family:Futura-MedObl;
   
    
}

.introduction{
    margin: 20px;
    
}

.introduction h2{
    font-size: 60px;
    text-align: center;
    color:#3D5CDB;
    font-family: Futura-Bol;
    margin-top: 60px;
}


.introduction-content1{
    display: flex;
    justify-content:center;
    margin: 10px;
}

.introduction-content1 img{
    width: 400px;
    height:240px;
    margin: 60px;
}
.introduction-content1-pa{
    text-align: left;
    width: 400px;
    margin: 60px;
}

.introduction-content1-pa p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height:30px;
}

.introduction-content1-pa a{
    text-align: center;
}

.introduction-content1 a{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #0000ff;
    width: 160px;
    line-height:40px;
    display: inline-block;
    background-repeat: 16px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.introduction-content2{
    display: flex;
    justify-content:center;
    margin: 10px;
}

.introduction-content2 img{
    width: 400px;
    height:240px;
    margin: 60px;
}
.introduction-content2-pa{
    text-align: left;
    width: 400px;
    margin: 60px;
}

.introduction-content2-pa p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height:30px;
}

.introduction-content2-pa a{
    text-align: center;
}

.introduction-content2 a{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #0000ff;
    width: 160px;
    line-height:40px;
    display: inline-block;
    background-repeat: 16px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}


#particles-js{
    
    background-color: #dceaff;
    background-size: contain;
 }

.courses{
    padding: 30px;
    margin-bottom: 40px;
}
.courses h2{
    text-align: center;
    font-size: 60px;
    color: #3D5CDB;
    margin: 20px;
    font-family: Futura-Bol;
    
}

.courses-cards1{
    display: flex;
    justify-content:center ;

}

.courses-card{
 background:#ffffff no-repeat;
 background-size: auto;
 margin: 10px;
 padding: 60px 40px;
 border-radius: 12px;
 

}

.courses-card img{
    text-align: center;
    margin: 10px;
    width: 80px;
    height: 80px;
    
    
   
}


.courses-card p{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    color: black;
}

.courses-card a{
    text-decoration: none;
    font-size: 12px;
    background:orange;
    padding: 16px;
    margin: 5px;
    border-radius: 12px;
    font-weight: bold;
    color: #ffffff;
  

}

.courses-cards2{
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;

}


.images h2{
    font-size: 60px;
    text-align: center;
    color:#3D5CDB;
    font-family: Futura-Bol;
    margin-top: 60px; 
}


